@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Cute+Font&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: radial-gradient(
      circle at top,
      rgba(119, 135, 224, 0.7),
      rgba(204, 96, 214, 0.7)
    ),
    url('bg-pattern-dark.png');
  background-repeat: repeat;
  background-size: 100% 100%, 30% 30%, 100% 100%;
  min-height: 110rem;
}

header {
  text-align: center;
}

header img {
  width: 10rem;
  object-fit: contain;
  margin: 3rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
}

h1 {
  font-family: "Bagel Fat One", system-ui;
  font-size: 5rem;
  margin: 0 auto 3rem auto;
  color: #ffffff;
}

#game-container {
  max-width: 45rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 6px;
  background: linear-gradient(#74659e, #e49fd4);
  box-shadow: 0 0 20px rgba(15, 15, 15, 0.5);
  position: relative;
}

.player-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-symbol-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.player-symbol-container button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem !important;
  padding: 0.5rem;
  color: #d799e4;
  transition: color 0.2s;
}

.player-symbol-container button:hover {
  color: #ebe9e2;
}

.player-symbol {
  margin: 0 1rem;
  font-size: 1.5rem !important;
  color: #c9b942;
}

.edit-button {
  background: none;
  font-family: 'Cute Font', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 2rem !important;
  padding: 0.5rem;
  color: #d799e4;
  transition: color 0.2s;
}

.edit-button:hover {
  color: #ebe9e2;
}


#players {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#players li {
  display: flex;
  align-items: center;
  width: 50%;
  border: 2px solid transparent;
}

#players.highlight-player li.active {
  border-color: #eeabe3;
  animation: pulse 2s infinite ease-in-out;
}

#players.highlight-player li.active .player-name,
#players.highlight-player li.active .player-symbol {
  color: #e7b9f0;
}

#players button {
  width: 3rem;
  border: none;
  background: none;
  color: #d799e4;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  text-align: center;
}

#players button:hover {
  color: #ebe9e2;
}

.player {
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.player-name {
  display: inline-block;
  width: 10rem;
  font-family: 'Cute Font', sans-serif;
  font-size: 3rem;
  color: #b1dbe6;
  margin: 0;
  padding: 0.5rem;
  border-radius: 1px;
  text-overflow: ellipsis;
  text-align: center;
}

.player-name-input {
  font-family: 'Cute Font', sans-serif;
  font-size: 3rem;
  width: 10rem;
  border: none;
  padding: 0.5rem;
  animation: pulse-text 2s infinite;
  background-color: #71458a;
  text-align: center;
}


.player-symbol {
  margin-left: 1rem;
  font-size: 1rem;
  color: #c9b942;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pre-game {
  text-align: center;
}

#pre-game button {
  cursor: pointer;
  background: none;
  color: #d09dd4;
  border: none;
  font-family: 'Cute Font', sans-serif;
  font-size: 4rem;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  animation: pulse-text-size 2s infinite ease-out;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  padding: 0;
  flex-direction: column;
}

#game-board ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#game-board button {
  width: 8rem;
  height: 8rem;
  border: none;
  background: #826599;
  color: #4a468d;
  font-size: 5rem;
  cursor: pointer;
  font-family: 'Cute Font', sans-serif;
  padding: 1rem;
}

#game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(96, 77, 112, 0.95);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

#game-over h2 {
  font-family: 'Cute Font', sans-serif;
  font-size: 4rem;
  text-align: center;
  color: #97dcee;
  margin: 0;
}

#game-over p {
  font-size: 2rem;
  text-align: center;
  color: #daafeb;
}

#game-over button {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  background: none;
  border: 2px solid #ffadf4;
  color: #eeeeee;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

#game-over button:hover {
  background: #9ec3ce;
  color: #467c91;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(136, 186, 206, 0.8);
}

#log {
  max-width: 20rem;
  color: #3f3b00;
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

#log li {
  border-radius: 4px;
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  margin: 0.75rem;
}

#log li.highlighted {
  background-color: #3f3b00;
  color: white;
}

#game-hints {
  text-align: center;
  color: #f8f7ef;
}

#game-hints h2 {
  font-family: 'Cute Font', sans-serif;
  font-size: 2rem;
  margin: 0;
}

#game-hints ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#game-hints button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #23221f;
  font: inherit;
  margin-top: 1.5rem;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse-text {
  0% {
    color: #e7dd92;
  }
  50% {
    color: #9f9d83;
  }
  100% {
    color: #e1dec7;
  }
}

@keyframes pulse-text-size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    border-color: #e9e8e5;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
  }
  50% {
    border-color: #e19de7;
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    border-color: #dbaed0;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}

/* Fancy animation for showing the "Game Over" element */
@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
